/* Patrick 07/2021  */
/* test */


/* ********************boutons choice normal or scientific*/


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #565A6C;
}

#choiceconteneur
{
    display: flex;
    width: 300;
    padding-bottom: 1rem;
}
.modeChoice
{
    font-size: 1rem;
    height: 30;
    width: 100;
    background-color: rgb(255, 217, 0);
    text-align: center;
}
#boutonsconteneur
{
    display: flex;
    /* background-color: aqua; */
    /* width: 900; */
}

/* boutons calculatrice */
#numberconteneur
{
    display: flex;
    width: 300;
    flex-wrap: wrap; 
}


#operator1conteneur
{
    display: flex;
    width: 150;
    flex-direction: column;
    justify-content: flex-start;
}
#operator2conteneur
{
    display: flex;
    width: 300;
    flex-direction: column;
    justify-content: flex-start;
}

.number
{
    /* display: flex; */
    font-size: 2rem;
    height: 100;
    width: 100;
    background-color: #1DA3B2;
    text-align: center;
}
.number:hover,.operator:hover,.operator2:hover,#operator_egal:hover
{
    /* background-color: rgb(0, 255, 106); */
    border: 5px solid yellow;
}
.operator
{
    /* display: flex; */
    font-size: 2rem;
    height: 50;
    width: 150;
    background-color: #1DA3B2; 
    text-align: center;
}
.operator2 
{
    /* display: flex; */
    font-size: 2rem;
    height: 50;
    width: 300;
    background-color: #1DA3B2; 
    text-align: center;
}
#number_0
{
    width: 150;
}
#operator_egal
{
    width: 150;
    height: 100;
    background-color: #1DA3B2;
}

/* ************************feedback formule result memory*/
#feedbackuserconteneur
{
    display: flex;
    flex-direction: column;
    font-size: 5rem;
    width: 750px;
    
}
#formuleconteneur
{
    background-color:#1DA3B2;
    font-size: 5rem;
    width: 750px;
}

#formuleconteneurhtml
{
display: flex;
}
#resultconteneur
{
    background-color: #F9F871;
    /* width: 600px; */
    text-align: end;
}
#memory1conteneur
{
    background-color: #1DA3B2;
    /* width: 600px; */
}


/* *****************animations not used*/

@keyframes clignoter
{
    from {
        background-color: rgb(0, 119, 255);
    }
    50%{
        background-color: rgb(255, 0, 136);
    }
    to {
        background-color: rgb(0, 119, 255);
    }
}
.clignotement
{
    animation: clignoter 0.2s 2;
}